{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^grammy", "^@grammyjs", "^@?\\w", "^#/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSortByLength": true
}
